
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~admin-lte/dist/css/adminlte.min.css';

@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';




.sidebar .router-link-exact-active{
  background-color: rgb(33, 146, 108);
  color: #fff !important;
  p{
    font-size: 14px;
  }
  i{
    font-size: 14px;
    color: black;
  }
}

.sidebar .nav-item a:hover { 
  background-color: rgb(33, 146, 108);
  
  p{

 
    color: black;
  }
  i{


    color: black;
  }
}

.brand-link {
  background-color: rgb(33, 146, 108);
}